body {
    background: #fff1eb;
    margin:0;
    font-family: Verdana, Geneva, sans-serif;
}

div {
    background: transparent;
    padding: 1em;
    clear: both;
}

#status, #tip_panel {
    font-size: x-small;
}

#main {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

#results_panel {
    border-bottom: solid 1px;
    padding-top:0;
}

#rdf_prop_names {display: none; font-size: small;}

form {
    position: relative;
    float: left; 
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    background: transparent ;
  }

