body {
    background: #fff1eb;
    margin:0;
    font-family: Verdana, Geneva, sans-serif;
}

div {
    background: transparent;
    padding: 1em;
    clear: both;
}

#main {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

form {
    position: relative;
    float: left; 
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    background: transparent ;
  }